<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 静态资源(js/image)的访问 -->
    <mvc:resources location="/RESOURCES/USER" mapping="/image/u/**" />
    <!--<mvc:resources location="/RESOURCES/sessionfile/" mapping="/file/session/**" />-->
    <!-- 扫描含注解的包 -->
    <context:component-scan base-package="link.imcloud.jrs"/>

    <!-- 定义jackson解析器 -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="mappingJacksonHttpMessageConverter"/>
            </list>
        </property>
    </bean>
    <bean id="mappingJacksonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"  >
        <property name="supportedMediaTypes" >
            <list>
                <value>text/html;charset=utf-8</value>
                <value>text/plain;charset=utf-8</value>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
    </bean>


    <!--10m上限-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10505856" />
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!-- 开启注解 -->
    <mvc:annotation-driven/>
</beans>